.App {
  text-align: center;
}

li {
  break-inside: avoid-column;
}

.navbar-section {
  padding-bottom: 20px;
}

.navbar-button {
  margin: 10px;
  padding: 10px;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 10%;
}
.navbar-button:active {
  box-shadow: 2px 2px 2px grey;
}

#trending-titles {
  margin-top: 1%;
  width: 90%;
  margin-left: 4%;
  border: 5px solid rgb(53, 0, 128);
  border-radius: 1%;
  background-color: transparent;
}

.article-list {
  width: 300px;
  list-style: none;
  margin: 10px;
  padding: 20px;
}

.article-list-item {
  border: 5px solid black;
  border-radius: 5%;
  margin-bottom: 2%;
  padding: 20px;
  background-color: lavender;
}

#article-title {
  text-transform: uppercase;
}

.topic-section {
  width: 400px;
  border: 5px solid rgb(53, 0, 128);
}

#topic-link {
  text-decoration: none;
}

.topic-buttons {
  width: 200px;
  display: block;
  height: 100px;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 5%;
  padding: 20px;
  margin: 50px;
  font-size: larger;
  text-transform: uppercase;
}

.topic-buttons:active {
  box-shadow: 3px 3px 3px grey;
}

.article-link {
  text-decoration: none;
  color: black;
}
.article-link:visited {
  color: black;
}

.single-article {
  width: 300px;
  list-style: none;
}

.votes-buttons {
  margin-left: 40px;
  padding: 0;
  float: left;
  display: grid;
  grid-template-columns: 150px 100px 150px;
}

#votes {
  width: 150px;
  height: 30px;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  background-color: rgb(147, 130, 231);
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: left;
  margin-left: 0px;
  text-align: center;
}

#votes-text {
  width: 100px;
  height: 30px;
  background-color: lavender;
  margin-top: 0;
}

#votes:active {
  box-shadow: 2px 2px 2px black;
}

.comments-section--item {
  list-style: none;
  width: 300px;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  float: left;
  margin: 20px;
  padding: 20px;
  background-color: lavender;
  text-align: left;
}

#comment-author {
  font-weight: bold;
  float: left;
}

@media only screen and (min-width: 600px) {
  .article-list {
    width: 95%;
    flex: 1;
    columns: 4;
    padding: 0;
    margin: 5;
  }

  .topic-section {
    margin-top: 10px;
    margin-left: 42%;
    width: 300px;
    border: 5px solid rgb(53, 0, 128);
  }

  .topic-buttons {
    margin-left: 20%;
  }

  .App {
    display: inline-block;
    width: 100%;
  }

  .article-list-item {
    width: 350px;
    margin-left: 0 auto;
  }

  .single-article {
    width: 500px;
  }

  .comments-section {
    float: right;
    margin-top: 1%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 500px 500px;
    gap: 40px;
  }

  .single-article-section {
    width: 400px;
    display: inline-block;
  }

  .header {
    grid-area: header;
  }

  .navbar-section {
    grid-area: nav;
  }
}
