.App {
  text-align: center;
}

.navbar-button {
  margin: 10px;
  padding: 10px;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 10%;
}
.navbar-button:active {
  box-shadow: 2px 2px 2px grey;
}

.article-list {
  width: 300px;
  list-style: none;
  margin: 10px;
  padding: 20px;
}

.article-list-item {
  border: 5px solid black;
  border-radius: 5%;
  margin-bottom: 2%;
  padding: 5px;
}

#article-title {
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .article-list {
    margin-left: 40%;
    display: grid;
    grid-template-columns: 400px 400px 400px 400px;
    grid-template-rows: relative relative;
    gap: 40px;
    justify-content: center;
  }
}
