.App {
  text-align: center;
}

li {
  break-inside: avoid-column;
}

.navbar-section {
  padding-bottom: 20px;
}

.navbar-button {
  margin: 10px;
  padding: 10px;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 10%;
  font-weight: bold;
}
.navbar-button:active {
  box-shadow: 2px 2px 2px grey;
}

.article-list {
  width: 300px;
  list-style: none;
  padding: 20px;
}

.article-list-item {
  border: 5px solid black;
  border-radius: 5%;
  margin-bottom: 2%;
  padding: 20px;
  background-color: lavender;
  margin-right: 50px;
}

#article-title {
  text-transform: uppercase;
  font-size: x-large;
}

.topic-section {
  margin: auto;
  width: 350px;
  border: 5px solid rgb(53, 0, 128);
}

#topic-link {
  text-decoration: none;
}

.topic-buttons {
  width: 200px;
  display: block;
  height: 100px;
  background-color: lavender;
  border: 2px solid black;
  border-radius: 5%;
  padding: 20px;
  margin: 50px auto;
  font-size: larger;
  text-transform: uppercase;
}

.topic-buttons:active {
  box-shadow: 3px 3px 3px grey;
}

.article-link {
  text-decoration: none;
  color: black;
}
.article-link:visited {
  color: black;
}
.margin-article {
  margin-left: 4%;
}
.single-article {
  width: 350px;
  height: fit-content;
  list-style: none;
  padding-left: 7%;
  font-size: large;
}
#comment-button:active {
  box-shadow: 2px 2px 2px black;
}

@media only screen and (min-width: 400px) {
  .single-article {
    padding-left: 15%;
  }
}

.votes-buttons {
  margin-left: 40px;
  padding: 0;
  float: left;
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
.form {
  text-align: left;
}

form {
  display: inline-grid;
  width: 290px;
  height: 200px;
}

#comment-button {
  width: 150px;
  height: 30px;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  background-color: rgb(147, 130, 231);
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: left;
  margin-left: 0px;
  text-align: center;
}

#votes {
  width: 100px;
  height: 30px;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  background-color: rgb(147, 130, 231);
  color: black;
  font-weight: bold;
  font-size: medium;
  text-align: left;
  margin-left: 0px;
  text-align: center;
}

#votes-text {
  width: 100px;
  height: 30px;
  background-color: lavender;
  margin-top: 0;
}

#votes:active {
  box-shadow: 2px 2px 2px black;
}

.comments-section--item {
  list-style: none;
  width: 250px;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  float: left;
  margin: 20px auto;
  padding: 20px;
  background-color: lavender;
  text-align: left;
}

#comment-author {
  font-weight: bold;
  float: left;
}

.dropdown {
  background-color: lavender;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  margin: 5px;
  font-weight: bold;
  font-size: medium;
}

.options {
  background-color: rgb(212, 193, 238);
}

.delete-button {
  margin-top: 10px;
  background-color: rgb(240, 136, 157);
  font-weight: bold;
  font-size: medium;
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  float: right;
}
.delete-button:hover {
  background-color: red;
}

.delete-button:active {
  box-shadow: 2px 2px 2px black;
}

.comments-section--item__deleted {
  background-color: pink;
  opacity: 0.2;
}

.user-avatar {
  margin: 20px;
  padding: 20px;
  width: 250px;
  border: 8px solid rgb(53, 0, 128);
  border-style: double;
  border-radius: 5%;
}

.home-button {
  border: 2px solid rgb(53, 0, 128);
  border-radius: 5%;
  background-color: rgb(147, 130, 231);
  color: black;
  font-weight: bold;
  font-size: medium;
  width: 100px;
}
.home-button:hover {
  background-color: pink;
}
.home-button:active {
  box-shadow: 2px 2px 2px grey;
}

@media only screen and (min-width: 750px) and (max-width: 899px) {
  .margin-article {
    margin-left: 0;
  }
  .article-list {
    width: 95%;
    flex: 1;
    columns: 2;
    padding: 20px;
    margin: 5;
  }
  .article-list-item {
    width: 300px;
  }

  .single-article {
    width: 500px;
    padding-left: 5%;
  }

  .single-article-section {
    padding-left: 25%;
  }

  .votes-buttons {
    margin-left: auto;
    padding: 0;
    float: left;
    display: grid;
    grid-template-columns: 150px 100px 150px;
  }
  #votes {
    width: 150px;
  }
  form {
    margin: 20px 50% auto auto;
    width: 400px;
  }

  textarea {
    margin-bottom: 20px;
  }
  .comments-section {
    margin-left: 20%;
  }
  .comments-section--item {
    width: 350px;
  }
}

@media only screen and (min-width: 900px) {
  .margin-article {
    margin-left: 0;
  }
  .article-list {
    width: 95%;
    flex: 1;
    columns: 4;
    padding: 0;
    margin: 5;
  }

  .topic-section {
    margin-top: 10px;
    margin-left: 40%;
    width: 350px;
    border: 5px solid rgb(53, 0, 128);
  }

  .topic-buttons {
    margin: 50px auto;
  }

  .App {
    display: inline-block;
    width: 100%;
  }

  .article-list-item {
    width: 350px;
    margin-left: 0 auto;
    margin-right: auto;
  }

  .single-article {
    width: 500px;
    padding-left: 10%;
  }

  .comments-section {
    float: right;
    margin-top: 1%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: 500px 500px;
    gap: 40px;
  }

  .comments-section--item {
    width: 300px;
  }

  .single-article-section {
    width: 400px;
    display: inline-block;
  }

  .votes-buttons {
    margin-left: 40px;
    padding: 0;
    float: left;
    display: grid;
    grid-template-columns: 150px 100px 150px;
  }
  #votes {
    width: 150px;
    height: 30px;
    border: 2px solid rgb(53, 0, 128);
    border-radius: 5%;
    background-color: rgb(147, 130, 231);
    color: black;
    font-weight: bold;
    font-size: medium;
    text-align: left;
    margin-left: 0px;
    text-align: center;
  }
  #votes-text {
    width: 100px;
    height: 30px;
    background-color: lavender;
    margin-top: 0;
  }

  .header {
    grid-area: header;
  }

  .navbar-section {
    grid-area: nav;
  }

  form {
    text-align: left;
    display: grid;
    width: 300px;
    margin-left: 20px;
    height: 200px;
  }
  input {
    margin-bottom: 15px;
  }

  .user-avatar {
    width: 300px;
  }
}
